body {
    font-family: Arial, sans-serif;
    background-color: #D0BFFF; /* Light purple */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 0px
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #6A5ACD; /* Blueish Purple */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4B0082;
}

.credits {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.output1 {
    padding: 0px;
    display: flex;
    flex-direction: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(145, 50, 50, 0.2);
    text-align: center;
    margin: 0px 0px;
}

.output1 p {
    background: white;
    border-radius: 10px;
    flex: 1;
    padding: 50px;
    margin: 5px 10px; /* Adjust spacing */
    line-height: 1; 
}

#variant-plus p, #variant-minus p, #variant-equal p {
    margin: 0px 0;
    line-height: 0;
}